<html>
<body>
<h2>Republica Dominicana</h2>
<header><img src="../assets/R.gif" height="500" width="700" id="arriba"></header>
<h2>Provincias de la Republica Dominicana</h2>

<button title="Got to bottom"><a href="#abajo">abajo</a></button>

<ol>

  <li>Santo Domingo</li>
  <ul>
<li>Poblacion: 2,955,339</li>
<li>Senador: Antonio Manuel Taveras Guzmán</li>
<li><a href="https://en.wikipedia.org/wiki/Santo_Domingo_Province">Santo Domingo</a></li>
<img src="../assets/santo domingo.jpg" height="80" width="100">

  </ul>

  <li>Distrito Nacional</li>
    <ul>
      <li>Poblacion: 1,403,789</li>
      <li>Senadora: Faride Virginia Raful Soriano</li>
      <li><a href="https://en.wikipedia.org/wiki/Distrito_Nacional">Distrito Nacional</a></li>
      <img src="../assets/distrito n.png" height="80" width="100">
    </ul>

  <li>Santiago</li>
  <ul>
    <li>Poblacion: 1,833,451</li>
    <li>Senador: Rafael Eduardo Estrella Virella</li>
    <li><a href="https://en.wikipedia.org/wiki/Santiago_de_los_Caballeros_Province">Santiago</a></li>
    <img src="../assets/santiago.jpg" height="80" width="100">
  </ul>

  <li>San Cristóbal</li>
  <ul>
    <li>Poblacion: 859,741</li>
    <li>Senador: Franklin Alberto Rodríguez Garabitos</li>
    <li><a href="https://en.wikipedia.org/wiki/San_Cristóbal_Province">San Cristóbal</a></li>
    <img src="../assets/san cristobal.jpg" height="80" width="100">
  </ul>

  <li>La Vega</li>
  <ul>
    <li>Poblacion: 420,478</li>
    <li>Senador: Ramón Rogelio Genao Durán</li>
    <li><a href="https://en.wikipedia.org/wiki/La_Vega_Province">La Vega</a></li>
    <img src="../assets/barahona.jpg" height="80" width="100">
  </ul>

  <li>Puerto Plata</li>
  <ul>
    <li>Poblacion: 168,265</li>
    <li>Senadora: Ginette Altagracia Bournigal</li>
    <li><a href="https://en.wikipedia.org/wiki/Puerto_Plata_Province">Puerto Plata</a></li>
    <img src="../assets/hermanas mirabal (1).png" height="80" width="100">
  </ul>

  <li>San Pedro de Macorís</li>
  <ul>
    <li>Poblacion: 418,850</li>
    <li>Senador: Franklin Ysaias Peña Villalova</li>
    <li><a href="https://en.wikipedia.org/wiki/San_Pedro_de_Macor%C3%ADs_Province">San Pedro de Macorís</a></li>
    <img src="../assets/santiago rogrigez (1).png" height="80" width="100">
  </ul>

  <li>Duarte</li>
  <ul>
    <li>Poblacion: 384,789</li>
    <li>Senador: Franklin Martín Romero Morillo</li>
    <li><a href="https://en.wikipedia.org/wiki/Duarte_Province">Duarte</a></li>
    <img src="../assets/duarte.jpg" height="80" width="100">
  </ul>

  <li>La Altagracia</li>
  <ul>
    <li>Poblacion: 335,677</li>
    <li>Senador: Virgilio Cedano Cedano</li>
    <li><a href="https://en.wikipedia.org/wiki/La_Altagracia_Province">La Altagracia</a></li>
    <img src="../assets/maria t sanchez.jpg" height="80" width="100">
  </ul>

  <li>La Romana</li>
  <ul>
    <li>Poblacion: 330,587</li>
    <li>Senador: Ivan José Silva Fernández</li>
    <li><a href="https://en.wikipedia.org/wiki/La_Romana_Province">La Romana</a></li>
    <img src="../assets/la romana.jpg" height="80" width="100">
  </ul>

  <li>San Juan</li>
  <ul>
    <li>Poblacion: 300,476</li>
    <li>Senador: Félix Ramón Bautista Rosario</li>
    <li><a href="https://en.wikipedia.org/wiki/San_Juan_de_la_Maguana_Province">San Juan</a></li>
    <img src="../assets/san cristobal.jpg" height="80" width="100">
  </ul>

  <li>Espaillat</li>
  <ul>
    <li>Poblacion: 333,4019</li>
    <li>Senador: Carlos Gómez Ureña</li>
    <li><a href="https://en.wikipedia.org/wiki/Espaillat_Province">Espaillat</a></li>
    <img src="../assets/santiago rogrigez (2).png" height="80" width="100">
  </ul>

  <li>Azua</li>
  <ul>
    <li>Poblacion: 128,264</li>
    <li>Senadora: Lía Ynocencia Díaz Santana</li>
    <li><a href="https://en.wikipedia.org/wiki/Azua_Province">Azua</a></li>
    <img src="../assets/valverde.jpg" height="80" width="100">
  </ul>

  <li>Barahona</li>
  <ul>
    <li>Poblacion: 138,159</li>
    <li>Senador: José Manuel del Castillo Saviñon</li>
    <li><a href="https://en.wikipedia.org/wiki/Barahona_Province">Barahona</a></li>
    <img src="../assets/barahona.gif" height="80" width="100">
  </ul>

  <li>Monte Plata</li>
  <ul>
    <li>Poblacion: 57,553 9</li>
    <li>Senador: Lenín Valdez Lópezn</li>
    <li><a href="https://en.wikipedia.org/wiki/Monte_Plata_Province">Monte Plata</a></li>
    <img src="../assets/pedernales.jpg" height="80" width="100">
  </ul>

  <li>Peravia</li>
  <ul>
    <li>Poblacion: 217,241</li>
    <li>Senador: Milciades Marino Franjul Pimentel</li>
    <li><a href="https://en.wikipedia.org/wiki/Peravia_Province">Peravia</a></li>
    <img src="../assets/peravia (1).jpg" height="80" width="100">
  </ul>

  <li>Monseñor Nouel</li>
  <ul>
    <li>Poblacion: 203,183</li>
    <li>Senador: Héctor Elpidio Acosta</li>
    <li><a href="https://en.wikipedia.org/wiki/Monseñor_Nouel_Province">Monseñor Nouel</a></li>
    <img src="../assets/valverde.png" height="80" width="100">
  </ul>

  <li>Valverde</li>
  <ul>
    <li>Poblacion: 217,026</li>
    <li>Senador: Martín Edilverto Nolasco Vargas</li>
    <li><a href="https://en.wikipedia.org/wiki/Valverde_Province">Valverde</a></li>
    <img src="../assets/valverde.jpg" height="80" width="100">
  </ul>

  <li>Sánchez Ramírez</li>
  <ul>
    <li>Poblacion: 248,807 </li>
    <li>Senador: Ricardo de los Santos</li>
    <li><a href="https://en.wikipedia.org/wiki/Sánchez_Ram%C3%ADrez_Province">Sánchez Ramírez</a></li>
    <img src="../assets/barahona.jpg" height="80" width="100">
  </ul>

  <li>María Trinidad Sánchez</li>
  <ul>
    <li>Poblacion: 195,886</li>
    <li>Senador: Alexis Victoria Yeb</li>
    <li><a href="https://en.wikipedia.org/wiki/Mar%C3%ADa_Trinidad_Sánchez_Province">María Trinidad Sánchez</a></li>
    <img src="../assets/duarte.png" height="80" width="100">
  </ul>

  <li>Montecristi</li>
  <ul>
    <li>Poblacion: 42,657</li>
    <li>Senador: Ramón Antonio Pimentel Gómez</li>
    <li><a href="https://en.wikipedia.org/wiki/Monte_Cristi_Province">Montecristi</a></li>
    <img src="../assets/espaillat.png" height="80" width="100">
  </ul>

  <li>Samaná</li>
  <ul>
    <li>Poblacion: 108,179</li>
    <li>Senador: Pedro Manuel Catraín Bonilla</li>
    <li><a href="https://en.wikipedia.org/wiki/Samaná_Province">Samaná</a></li>
    <img src="../assets/pedernales.jpg" height="80" width="100">
  </ul>

  <li>Bahoruco</li>
  <ul>
    <li>Poblacion: 111,269</li>
    <li>Senadora: Melania Salvador Jiménez</li>
    <li><a href="https://en.wikipedia.org/wiki/Baoruco_Province">Bahoruco</a></li>
    <img src="../assets/barahona.gif" height="80" width="100">
  </ul>

  <li>Hermanas Mirabal</li>
  <ul>
    <li>Poblacion: 121,887</li>
    <li>Senador: Bautista Antonio Rojas Gómez</li>
    <li><a href="https://en.wikipedia.org/wiki/Hermanas_Mirabal_Province">Hermanas Mirabal</a></li>
    <img src="../assets/hermanas mirabal (1).png" height="80" width="100">
  </ul>

  <li>El Seibo</li>
  <ul>
    <li>Poblacion: 97,144</li>
    <li>Senador: Santiago José Zorrilla</li>
    <li><a href="https://en.wikipedia.org/wiki/El_Seibo_Province">El Seibo</a></li>
    <img src="../assets/pedernales.jpg" height="80" width="100">
  </ul>

  <li>Hato Mayor</li>
  <ul>
    <li>Poblacion: 70,141</li>
    <li>Senador: Cristóbal Venerado Castillo</li>
    <li><a href="https://en.wikipedia.org/wiki/Hato_Mayor_Province">Hato Mayor</a></li>
    <img src="../assets/hato mayor.jpg" height="80" width="100">
  </ul>

  <li>Dajabón</li>
  <ul>
    <li>Poblacion: 25,983</li>
    <li>Senador: David Rafael Sosa Cerda</li>
    <li><a href="https://en.wikipedia.org/wiki/Dajabón_Province">Dajabón</a></li>
    <img src="../assets/elias pina (1).png" height="80" width="100">
  </ul>

  <li>Elías Piña</li>
  <ul>
    <li>Poblacion: 43,894</li>
    <li>Senador: Arys Yvan Lorenzo Suero</li>
    <li><a href="https://en.wikipedia.org/wiki/El%C3%ADas_Piña_Province">Elías Piña</a></li>
    <img src="../assets/elias pina (2).png" height="80" width="100">
  </ul>

  <li>San José de Ocoa</li>
  <ul>
    <li>Poblacion: 21,148</li>
    <li>Senador: José Antonio Castillo Casado</li>
    <li><a href="https://en.wikipedia.org/wiki/San_José_de_Ocoa_Province">San José de Ocoa</a></li>
    <img src="../assets/santiago rogrigez (2).png" height="80" width="100">
  </ul>

  <li>Santiago Rodríguez</li>
  <ul>
    <li>Poblacion: 57,476</li>
    <li>Senador: Casimiro Antonio Marte Familia</li>
    <li><a href="https://en.wikipedia.org/wiki/Santiago_Rodr%C3%ADguez_Province">Santiago Rodríguez</a></li>
    <img src="../assets/santiago rogrigez (1).png" height="80" width="100">
  </ul>

  <li>Independencia</li>
  <ul>
    <li>Poblacion: 74,583</li>
    <li>Senador: Valentin Medrano</li>
    <li><a href="https://en.wikipedia.org/wiki/Independencia_Province">Independencia</a></li>
    <img src="../assets/hato mayor.jpg" height="80" width="100">
  </ul>

  <li id="#abajo">Pedernales</li>
  <ul>
    <li>Poblacion: 52,165</li>
    <li>Senadora: Dionis Alfonso Sánchez Carrasco</li>
    <li><a href="https://en.wikipedia.org/wiki/Pedernales_Provinceng">Pedernales</a></li>
    <img src="../assets/pedernales.png" height="80" width="100">
  </ul>

</ol>
<button title="arriba"><a href="#arriba">subir</a></button>